<% if @answer.errors.present? %>
  <% @answer.errors.full_messages.each do |message| %>
    $("div.all-form-inputs-errors").html(
        "<p> Исправьте следующие ошибки и попробуйте снова:</p>" +
            "<%= j message.split(' ')[1..-1].join(' ') %>"
        );
  <% end %>
<% else %>
  $("div.all-form-inputs-errors").html("");
  $('.single-question-answers__all-answers').append("<%= j render @answer  %>");
  $('#add-answer-body').val('');
<% end %>
