@import "header";

.sign-up-in-cont {
    display: flex;
}

.sign-up-in_form {
  display: flex;
  flex-direction: column;
  margin: 100px auto;

  h2 {
    color: red;
    font-size: 30px;
    padding-bottom: 20px;
    text-align: center;
  }
  
  .field {
    padding-bottom: 20px;
  }

  input[type="email"], input[type="password"] {
    width: 100%;
  }
  
  input[type="submit"]{
    width: 100%;
    color: red;
    font-size: 20px;
    margin-bottom: 10px;
 }
}

.user-short-info {

  text-align: center;
  margin: 30px auto 0;

  p {
    padding: 5px 0;
    font-size: 20px;
    color: red;
  }
}

.confirmation-email {
  text-align: center;
  padding-top: 20px;

  h2 {
    font-size: 14px;
  }
}

.confirm-auth-email-form {
  display: flex;
  flex-direction: column;
  width: 300px;
  margin: 0 auto;
  padding-top: 10px;

  input {
    margin-top: 10px;
  }
}