@import "questions";

.single-question-show {
  background: rgb(243, 243, 243);
}

.single-question-and-his-answers, .ask-question-wrapper {
  @include span(8 of 12);
  display: flex;
  flex-direction: column;
  padding-top: 30px;
}

.single-question, .single-question-answers__current_answer {
  width: 100%;
  margin: 100px 0;
  padding: 30px 30px 20px 150px;
  background-color: rgb(255, 255, 255);
  position: relative;
}

.single-question__user-avatar {
  position: absolute;
  left: 20px;
  top: 30px;

  & img {
    width: 100px;
    height: 100px;
  }
}

.single-question-answers__current-answer-title_wrapper {
  display: flex;
  justify-content: space-between;
}

.single-question-answers__current-answer-wrapper_for-arrtibutes {
  display: flex;
  justify-content: flex-end;
  padding-bottom: 20px;
}

.single-question-title, .single-question-answers__all-answers-title, .ask-question-title,
.single-question-answers__current-answer-title {
  font-size: 16px;
}

.curren-question-answer-count-votes {
  padding-left: 10px;
  font-size: 14px;
  font-weight: 500;
}

.single-question-body p, .single-question-answers__current-answer-body p {
  font-size: 14px;
  color: #848991;
  padding: 30px 0;
  line-height: 22px;
  border-bottom: 1px solid rgb(222, 222, 222);
  margin-bottom: 20px;
}

.single-question-answers__all-answers {
  display: flex;
  flex-direction: column;
}

.single-question-answers__current_answer {
  margin: 10px 0;

  & .single-question__user-avatar {
    top: 30px;
    bottom: 0;
  }
}

.single-question-answers__current-answer-body {
  word-wrap: break-word;
}

.single-question-answers__all-answers-title {
  margin-bottom: 20px
}

.single-question-answers__add-answer-for-question {
  margin-top: 100px;
}

.add-answer-form {
  width: 100%;
}

.answer-desk {
  display: flex;
  flex-direction: column;

  & textarea {
    margin-top: 20px;
    width: 100%;
    height: 200px;
    resize: none;
    word-wrap: break-word;
  }
}

.edited-area {
  margin-top: 20px;
  width: 100%;
  height: 200px;
  resize: none;
  font-size: 16px;
}

.add-answer-form-subm, .ask-question-form-subm {
  padding: 30px 0;

  & button {
    width: 100%;
    cursor: pointer;
    text-align: center;
    font-weight: 500;
    font-size: 18px;
    text-transform: uppercase;
    padding: 10px 0;
    background-color: rgb(255, 115, 97);
    border-radius: 2px;

    &:hover {
      color: rgb(255, 255, 255);
    }
  }
}

.ask-question-wrapper {
  padding-top: 100px;
}

.ask-question-title {
  margin-bottom: 50px;
}

.ask-question-form, .ask-question-form-inputs, .ask-question-form-desc {
  display: flex;
  flex-direction: column;
}

input[type="text"] , textarea {
  padding: 10px;
  border-radius: 1px;
  border: solid 1px #dcdcdc;
  transition: box-shadow 0.3s, border 0.3s;
  font-size: 18px;
}

.ask-question-form-inputs {
  margin-bottom: 50px;

  & label {
    margin-bottom: 20px;
  }
}

.ask-question-form-desc {

  & textarea {
    margin-top: 20px;
    width: 100%;
    height: 200px;
    resize: none;
  }
}

.current-answer-edit-form {
  display: none;

  & textarea {
    margin-top: 20px;
    width: 100%;
    height: 200px;
    resize: none;
  }

  .update-current-answer-button {
    padding: 5px;
    margin: 20px 0;
    font-size: 16px;
    cursor: pointer;

    &:hover {
      color: #dcdcdc;
      background: rgb(255, 115, 97);
    }
  }
}

.all-form-inputs-errors, .error-answer-update-messages {
  color: red;
  font-size: 20px;
  padding-bottom: 40px;

  p:nth-child(1){
    margin-bottom: 20px;
    font-size: 22px;
  }
}

.error-answer-update-messages {
  color: red;
  font-size: 20px;
  padding: 5px 0;
}

.single-question-answers__current-answer_best_answer,
.current-question-answer-votes {
  color: rgb(255, 115, 97);
  font-size: 13px;
  line-height: 18px;

  a {
    padding-right: 5px;
  }

  & i {
    color: black;
    padding-left: 15px;
    &:hover {
      color: rgb(255, 115, 97);
    }
  }
}

.single-question-attachments-files-wrapper {
  padding-bottom: 30px;

  & p {
    margin-bottom: 20px;
  }
}

.single-question-attached-files-list {
  list-style: none;

  & li {
    justify-content: space-between;
    padding: 15px 0 15px 3px;
    line-height: 24px;

    & a {
      padding-left: 10px;
      text-decoration: none;
      font-size: 14px;
      color: #848991;

      &:hover {
          color: rgb(255, 115, 97);
      }
    }
  }
}

.question-user-title {
  display: flex;
  font-size: 16px;
  margin-bottom: 20px;
  justify-content: space-between;
  align-items: flex-start;
}