@import "header";

.all-questions {
  background: rgb(243, 243, 243);
}

.all-questions-title {
  @include span(8 of 12);
  margin: 0 0 50px 0;
  padding-top: 50px;
  font-weight: 600;
  font-size: 28px;
}

.articles-all-questions-wrapper {
  @include span(8 of 12);
}

.all-questions_current-question {
  width: 100%;
  background-color: rgb(255, 255, 255);
  padding: 0 30px 20px 150px;
  margin-bottom: 30px;
  position: relative;
}

.all-questions_current-question__user-avatar {
  position: absolute;
  left: 20px;
  top: 30px;

  & img {
    width: 100px;
    height: 100px;
  }
}

.all-questions__current-question-title {
  padding: 30px 0;

  & a {
    text-decoration: none;
    font-weight: 600;
    font-size: 26px;
    color: rgba(0, 0, 0, 1.0);
    &:hover {
      color: rgb(255, 115, 97);
    }
  }
}

.all-questions__current-question-body {

  & p {
    font-size: 13px;
    color: #848991;
    padding-bottom: 30px;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 22px;
    border-bottom: 1px solid rgb(222, 222, 222);
    margin-bottom: 20px;
  }
}

.all-questions__current-question-answers-count {
  display: inline-block;

  & a {
    text-decoration: none;
    font-size: 13px;
    line-height: 18px;
    vertical-align: top;
    color: #848991;

    &:hover {
      color: rgb(255, 115, 97);
    }

    & i {
      margin-right: 5px;
    }
  }
}