@import "devise";

.all-questions {
  background: rgb(243, 243, 243);
}

.all-questions-articles-wrapper {
  @include span(8 of 12);
}

.all-questions-title {
  width: 100%;
  margin: 0 0 50px 0;
  padding-top: 50px;
  font-weight: 600;
  font-size: 28px;
}

.articles-all-questions-wrapper {
  width: 100%;
}

.all-questions_current-question {
  position: relative;
  width: 100%;
  background-color: rgb(255, 255, 255);
  padding: 30px 30px 20px 150px;
  margin-bottom: 30px;
 }

.all-questions_current-question__user-avatar {
  position: absolute;
  left: 20px;
  top: 30px;

  & img {
    width: 100px;
    height: 100px;
  }
}

.all-questions__current-question-title {
  padding: 5px 0 20px 0;

  & a {
    text-decoration: none;
    font-weight: 600;
    font-size: 26px;
    color: rgba(0, 0, 0, 1.0);
    overflow-wrap: break-word;

    &:hover {
      color: rgb(255, 115, 97);
    }
  }
}

.all-questions__current-question-body {

  & p {
    font-size: 13px;
    color: #848991;
    padding-bottom: 30px;
    overflow: hidden;
    text-overflow: ellipsis;
    overflow-wrap: break-word;
    line-height: 22px;
    border-bottom: 1px solid rgb(222, 222, 222);
    margin-bottom: 20px;
  }
}

.all-questions__current-question-answers-count,
.all-questions__current-question-answer-destroy,
.all-questions__current-question-answer-edit,
.single-question-answers__current-answer_best_answer {
  display: inline-block;
  margin-right: 10px;
  font-size: 13px;
  line-height: 18px;

  & i {
    margin-right: 5px;
  }

  & a {
    text-decoration: none;
    vertical-align: top;
    color: #848991;

    &:hover {
      color: rgb(255, 115, 97);
    }
  }
}

.user-sing-in-up-asside {
  @include span( 3 of 12);
  display: flex;
  flex-direction: column;
  margin-left: 50px;
  margin-top: 130px
}

.users-button-group {
  display: flex;
  flex-direction: column;
  margin: auto;
  border-radius: 5px;
  width: 100%;

  & a {
    border-radius: 3px;
    padding: 18px 30px;
    text-align: center;
    background:  rgb(255, 115, 97);
    margin: 0 auto 10px;
    text-decoration: none;
    color:rgb(222, 222, 222) ;
    font-weight: 500;
    width: 80%;

    &:hover {
      transition: 0.3s;
      color: rgba(0, 0, 0, 0.5);
    }
  }
}

.flashmsg {
  text-align: center;
  font-size: 20px;
  margin-top: 50px;
  font-weight: 500;
  color: rgb(255, 115, 97);
}

.attacments-for-question-answer-wrapper {
  h3 {
    padding: 10px 0;
  }
}

.attacment-nested-fields {
  display: flex;
  justify-content: space-between;
  padding: 10px 0;
  line-height: 30px;

  & a {
    text-decoration: none;
    color: rgb(255, 115, 97);
  }
}

.additional-attacments-fields {
  padding: 10px 0;

  & a{
    padding: 5px 10px;
    background: rgb(255, 115, 97);
    text-decoration: none;
    color: black;
    border-radius: 3px;

    &:hover {
      color: white;
    }
  }
}

.vote-reset-answer-link {

}